$fontFamily: Roboto, Arial, Helvetica, sans-serif;

// Colors
$backgroundColor: #E5E5E5;
$primaryColor: #9C27B0;
$white: #FFFFFF;
$textColor: #999999;
$titleColor: #3C4858;
$red: #F44336;

// Margins
$smallMargin: 5px;
$mediumMargin: 10px;
$margin: 15px;
$bigMargin: 25px;

// Devices
$breakpoint-mobile: 425px;
$breakpoint-tablet: 767px;
$breakpoint-laptop: 1439px;










